# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environments
.venv/
venv/
env/

# IDEs
.vscode/
.idea/

# Build
build/
dist/
*.egg-info/

# Caches
.pytest_cache/
allure-results/
allure-report/
reports/
screenshots/*.png
!screenshots/.gitkeep

# Misc
.DS_Store
